body {
	padding:0;
	margin:0;
	text-align:center;
}

nav ul li {
	display: inline-block;
}
ul li {
		list-style-type: none;
		padding: 20px;
}

ul {
	margin:0;
}
nav {
	background: #fff;
	height: 60px;
	position:absolute;
	margin:0 auto;
	width:100%;
	/*top:-200px;*/
}

.sticky {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 100;
	border-top: 0;
}

h1 {
	font-size: 42px;
}
#landing-title-tagline {
	padding-top: 200px;
}

#about-me {
	margin-top:120px;
}


#container {
	padding:0;
	margin:0;
		max-width: 960px;
	margin:0 auto;
	text-align:center;
}

#landing-pane {
	margin:0;
	padding:0;
	height:700px;

	background: url(../images/panorama_l.jpg) ;/*#537B93*/
	background-repeat:no-repeat;
	color:#fff;
	background-color:#000;
	background-position:bottom;
}


.project-title {
	font-size: 6em;
	padding:0;
	margin:0;
}



.value {
	width: 20%;
	display:inline-block;
	border: solid 1px black;
}

.col1 {
	margin-top: 300px;
}

/*.col2 {
	margin-top:500px;
}*/
.value-image {
	height:200px;
}
section {
	border-bottom: solid 1px black;
	height: 600px;
}



.project-container {
	height:140px;
}

.project-container:hover {
	background:url(http://lorempixel.com/900/200);

}

.value-image {
	background:green;
	border-radius:180px;
}

.skill {
	/*border: solid 1px black;*/
	background: #e6e6e6;
	margin: 15px auto;
	height: 40px;
	width: 80%;
	color:#fff;
	line-height:40px;
	font-size: 24px;
}

.progress-bar {
	background: red;
	height:100%;
}

.ruby {
	width: 0;
}

.rails {
	width: 0;
}

.javascript {
	width: 0;
}

.css {
	width: 0;
}
.jquery {
	width: 0;
}


.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}