body {
	padding:0;
	margin:0;
	text-align:center;
}

nav ul li {
	display: inline-block;
	padding: 20px;
}
ul li {
		list-style-type: none;
		
		min-width:100px;
}

p {
	font-size:18px;
}

#pitch {
	font-size: 22px;
}

ul {
	margin:0;
	padding:0;
}

#contact-list {
	width:400px;
	text-align:left;
	margin: 0 auto;
}

#contact-list li {
	height: 40px;
	line-height:40px;
}

#contact-list a {
}

nav {
	background: #6DD1C3;
	height: 60px;
	position:absolute;
	margin:0 auto;
	width:100%;
}

.sticky {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 100;
	border-top: 0;
}

h1 {
	font-size: 42px;
}
#landing-title-tagline {
	padding-top: 200px;
}

.spacer {
	height:120px;
}

a {
	text-decoration:none;
}

#profile-pic {
	height: 200px;
	background-position: -40px 0;
}


#pic-container {
	width:200px;
	height: 200px;
	border-radius: 200px;
	overflow:hidden;
	margin: 0 auto;
}

.container {
	padding:0;
	padding-top: 100px;
	margin:0;
	margin:0 auto;
	text-align:center;
}
.container:nth-child(odd) {
    background-color: #EEEEEE;
}

#landing-pane {
	margin:0;
	padding:0;
	height:700px;
	background: #6DD1C3;
	background-repeat:no-repeat;
	color:#fff;
	background-position:bottom;
}

.value {
	width: 260px;
	display:inline-block;
	margin: 0 10px;
}

.value-image {
	width:200px;
	height:200px;
	background:green;
	border-radius:180px;
	margin:0 auto;
}

section {
	height: 600px;
	margin: 0 auto;
	margin-top: 120px;
	width: 900px;
}

#projects {
	height: 1900px;
	margin:0 auto;
}

#contact {
	height: 500px;
}

i {
	font-size: 40px;
}

.section-content {
	width:720px;
	margin:0 auto;
	padding:0;
}

#value-prop .section-content, #projects .section-content {
	width:900px;
	margin:0 auto;
}

nav a {
	text-decoration:none;
	color: #fff;
}

.project-container {
	margin:150px auto;
	padding:0;
	width:740px;
	height: 400px;
	position:relative;
	overflow:hidden;
}

.project-container img {
	height:400px;
	margin:0;
}

h2 {
	font-size: 60px;
	margin:0;
}

.button {
	height: 40px;
	width: 100px;
	background: #6DD1C3;
	line-height: 40px;
	margin:0 auto;
	color: #fff;
}

.button:hover {
	background: rgba(109,209,195, 0.6);
}


.overlay {
	position: absolute;
	top:0;
	height:100%;
	width: 100%;
	display:none;
	background-color: rgba(255, 255, 255, 0.95);
}

.project-container:hover .overlay {
	display:block;
}

.project-title {
	font-size: 6em;
	padding:0;
	margin:0;
}

#project-content {
	padding:40px;
}

#skills {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.skill-label {
	margin:0;
	padding:0;
	position:relative;
	top:-35px;
}

.skill {
	background: #EEEEEE;
	margin: 15px;
	height: 30px;
	color:#fff;
	line-height:40px;
	font-size: 24px;
}

.progress-bar {
	background: #6DD1C3;
	height:100%;
}

.ruby {
	width: 0;

}

.rails {
	width: 0;
}

.backbone {
	width: 0;
}

.css {
	width: 0;
}
.jquery {
	width: 0;
}


.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}