

body {
	padding:0;
	margin:0;
	text-align:center;
	background: #6DD1C3;
	font-family: 'Lato', 'Verdana';
}

html, body, section, .project-container, .section-content, .project-content, #landing-pane, .inner {
	min-height:100%;
	width:100%;
}

nav ul li {
	display: inline-block;
	padding: 20px;
}

ul li {
		list-style-type: none;	
		min-width:80px;
}

p {
	font-size:18px;
}

h3 {
	font-size: 40px;
	padding:0;
	margin:0;
}

#pitch {
	font-size: 22px;
}

#tagline, .fa-angle-down {
	color: #000;
}

ul {
	margin:0;
	padding:0;
}

.contact {
	margin: 0 auto;
	color: #fff;
}

.hello {
	max-width:400px;
	text-align:center;
	font-size: 40px;
}

.hello li a, .hello li a:visited, .hello li a:active {
	color: #fff;
}

.hello li {
	padding: 20px 0;
}

.connect a:visited {
	color: #fff;
}

.contact li {
	height: 40px;
	line-height:40px;
}

.contact p {
	line-height: 40px;
}

.connect {
	display:inline-block;
	width:100%;
}
.connect li {
	display:inline-block;
}

#skills a {
	color: #000;
	text-decoration: underline;
}


nav {
	background: #6DD1C3;
	height: 60px;
	position:absolute;
	margin:0 auto;
	width:100%;
}

.sticky {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 100;
	border-top: 0;
}

h1 {
	font-size: 42px;
}
#landing-title-tagline {
	padding-top: 20%;
}

.spacer {
	/*height:120px;*/
	background: #fff;
}

a {
	text-decoration:none;
}

#profile-pic {
	height: 200px;
}


#pic-container {
	width:200px;
	height: 200px;
	border-radius: 200px;
	overflow:hidden;
	margin: 0 auto;
}

.container {

}

#about-me, #skills {
	background: #fff;
}

#about-me {
	padding: 10% 0;
}


#landing-pane {
	top:0;
	left:0;
	margin:0;
	padding:0;
	height:100vh;
	background-color: #6DD1C3;
	background:url(../images/skyline.png) no-repeat center bottom;
	background-size: 100%;
	color:#fff;
}




.value {
	width: 260px;
	display:inline-block;
	margin: 0 10px;
}

.value-image {
	width:200px;
	height:200px;
	background:green;
	border-radius:180px;
	margin:0 auto;
}

section {
	margin: 0 auto;
	text-align:center;
}

#projects {
	margin: 0 auto;
	background: #eeeeee;
}


#contact {
	background: #6DD1C3;
	display:table;
	height: 100%;
}

#contact-info {
	display:table-cell;
	vertical-align: middle;
	padding:15% 0; 
}

i {
	font-size: 40px;
}

a:link, a:visited, a:active {
	color:#fff;
}

.section-container {
	height:100%;
}

.section-content {
	max-width:720px;
	margin:0 auto;
	padding: 5% 0;
}

#value-prop .section-content, #projects .section-content {
	max-width:900px;
	margin:0 auto;
}
.spacer {
	padding: 5%;
	height: 100%;
}

nav a {
	text-decoration:none;
	color: #fff;
}

.project-container {
	margin:10% auto;
	padding:0;
	max-width:740px;
	/*overflow:hidden;*/
}

.project-container img {
	width:100%;
	margin:0;
}

h2 {
	font-size: 60px;
	margin:0;
}

.button {
	height: 40px;
	width: 100px;
	background: #6DD1C3;
	line-height: 40px;
	margin:0 auto;
	color: #fff;
}

.button:hover {
	background: rgba(109,209,195, 0.6);
}



.project-title {
	font-size: 6em;
	padding:0;
	margin:0;
}

.project-content {
	/*padding: 2%;*/
	background: #fff;
	/*margin: 2% auto;*/
}

#skills {
	width: 100%;
	margin: 0 auto;
}
.skill-label {
	margin:0;
	padding:0;
	position:relative;
	top:-35px;
}

.skill {
	background: #EEEEEE;
	margin: 15px;
	height: 30px;
	color:#fff;
	line-height:40px;
	font-size: 24px;
}

.progress-bar {
	background: #6DD1C3;
	height:100%;
}

.ruby, .rails, .backbone, .jquery, .css, .ajax, .bow-hunting {
	width: 0;
}

#scroll-indicator {
	height:50px;
	width:50px;
	margin: 10% auto;
	border: solid 2px #fff;
	border-radius: 30px;
	font-size: 24px;
}

#scroll-indicator i {
	height: 50px;
	line-height: 50px;
}

#scroll-indicator:hover {
	background: rgba(255,255,255, 0.3);
}

.clearfix:before,
.clearfix:after {
  content:"";
  display:table;
}
.clearfix:after {
  clear:both;
}



