

body {
	padding:0;
	margin:0;
	text-align:center;
	background: #6DD1C3;
	font-family: 'Lato';
	height:100%;
}
html {
	height:100%;
}

nav ul li {
	display: inline-block;
	padding: 20px;
}

ul li {
		list-style-type: none;	
		min-width:80px;
}

p {
	font-size:18px;
}

#pitch {
	font-size: 22px;
}

ul {
	margin:0;
	padding:0;
}

.contact {
	margin: 0 auto;
	color: #fff;
}

.hello {
	width:400px;
	text-align:center;
	font-size: 40px;
}

.hello li a, .hello li a:visited, .hello li a:active {
	color: #fff;
}

.hello li {
	padding: 20px 0;
}

.connect a:visited {
	color: #fff;
}

.contact li {
	height: 40px;
	line-height:40px;
}

.contact p {
	line-height: 40px;
}

.connect {
	display:inline-block;
	width:100%;
}
.connect li {
	min-width: 100px;
	display:inline-block;
}

.inner {
	height:100%;
}


nav {
	background: #6DD1C3;
	height: 60px;
	position:absolute;
	margin:0 auto;
	width:100%;
}

.sticky {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 100;
	border-top: 0;
}

h1 {
	font-size: 42px;
}
#landing-title-tagline {
	padding-top: 200px;
}

.spacer {
	height:120px;
	background: #fff;
}

a {
	text-decoration:none;
}

#profile-pic {
	height: 200px;
}


#pic-container {
	width:200px;
	height: 200px;
	border-radius: 200px;
	overflow:hidden;
	margin: 0 auto;
}

.container {

}

#about-me, #skills {
	background: #fff;
}

#about-me {
	padding-top: 300px;
}


#landing-pane {
	margin:0;
	padding:0;
	height:700px;
	background-color: #6DD1C3;
	background:url(../images/skyline.png) no-repeat center bottom fixed;
	background-size: 100%;
	color:#fff;
}



.value {
	width: 260px;
	display:inline-block;
	margin: 0 10px;
}

.value-image {
	width:200px;
	height:200px;
	background:green;
	border-radius:180px;
	margin:0 auto;
}

section {
	height: 600px;
	margin: 0 auto;
	padding: 120px 0 0 0;
	width: 100%;
	text-align:center;
}

#projects {
	height: 1900px;
	margin: 0 auto;
	padding: 100px 0;
	background: #eeeeee;
}

#contact {
	height: 100%;
	background: #6DD1C3;
	display:table;
}

#contact-info {
	display:table-cell;
	vertical-align: middle;
}

i {
	font-size: 40px;
}
a:link, a:visited, a:active {
	color:#fff;
}

.section-content {
	width:720px;
	margin:0 auto;
}

#about-me-content {
	padding-top: 60px;
}

#value-prop .section-content, #projects .section-content {
	width:900px;
	margin:0 auto;
}

nav a {
	text-decoration:none;
	color: #fff;
}

.project-container {
	margin:200px auto;
	padding:0;
	width:740px;
	height: 400px;
	position:relative;
	overflow:hidden;
}

.project-container img {
	height:400px;
	margin:0;
}

h2 {
	font-size: 60px;
	margin:0;
}

.button {
	height: 40px;
	width: 100px;
	background: #6DD1C3;
	line-height: 40px;
	margin:0 auto;
	color: #fff;
}

.button:hover {
	background: rgba(109,209,195, 0.6);
}


.project-container .overlay {
	position: absolute;
	top:0;
	height:100%;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.95);
	opacity:0;
	-webkit-transition: opacity 1s ease-out;
	-moz-transition: opacity 1s ease-out;
	-o-transition: opacity 1s ease-out;
	transition: opacity 1s ease-out;
	height: 0;
	overflow: hidden;
}

.project-container:hover .overlay {
	opacity:1;
	height:400px;
}

.project-title {
	font-size: 6em;
	padding:0;
	margin:0;
}

#project-content {
	padding:40px;
}

#skills {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.skill-label {
	margin:0;
	padding:0;
	position:relative;
	top:-35px;
}

.skill {
	background: #EEEEEE;
	margin: 15px;
	height: 30px;
	color:#fff;
	line-height:40px;
	font-size: 24px;
}

.progress-bar {
	background: #6DD1C3;
	height:100%;
}

.ruby, .rails, .backbone, .jquery, .css, .ajax, .bow-hunting {
	width: 0;
}

#scroll-indicator {
	height:50px;
	width:50px;
	position:relative;
	top: 20%;
	margin: 0 auto;
	border: solid 2px #fff;
	border-radius: 30px;
	font-size: 24px;
}

#scroll-indicator i {
	height: 50px;
	line-height: 50px;
}

#scroll-indicator:hover {
	background: rgba(255,255,255, 0.3);
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

/* mobile css */

/* high resolution screens */
/*@media (-webkit-min-device-pixel-ratio: 2),
             (min--moz-device-pixel-ratio: 2),
             (min-resolution: 300dpi) {
  #value-prop .section-content, #projects .section-content {
		max-width:480px;
		margin:0 auto;
	}
}*/



