@media screen and (max-width: 980px) {

}

@media screen and (max-width: 650px) {
	section {
		width:auto;
	}

	nav {
		display:none;
	}
	.hello {
		font-size: 18px;
	}
	.hello li {
		padding: 5px 0;
	}

	h2 {
		font-size:40px;
	}
	#landing-pane {
		height:100%;
	}

	.section-container {
	padding:5%;
	height: 100%;
	}
}