@media screen and (max-width: 980px) {
	section {
		padding:0 5px;
	}
	#project-content, .section-content {
		width: 95%;
	}
}

@media screen and (max-width: 650px) {
	section {
		width:auto;
		padding:0 5px;
	}

	nav {
		display:none;
	}
	.hello {
		font-size: 18px;
	}
	.hello li {
		padding: 5px 0;
	}

	h2 {
		font-size:40px;
	}

	#project-content, .section-content {
		width: 90%;
	}
}